body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-weight: normal;    
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto Regular", Arial, sans-serif;  
    color: #283136; 

    background-color: #ffffff;    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* .container-body { */
    /* width: 100%; */
    /* margin: 0 auto; */
/* } */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
            clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
    font-size: 16px;
    line-height: 30px;
    color: #000000;    
    font-family: "Roboto Medium", Arial, sans-serif;
    background-color:  #eeeeee;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px; 
    /* height: 100px; */
    margin: 0;
    margin: 0 auto;
    padding-top: 49px;
    padding-left: 20px;
    padding-right: 20px;

    text-transform: uppercase;
}

.main-header-logo {
    /* padding-top: 50px; */
}

.main-header-logo:hover {
    opacity: 0.8;
}
.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation,
.cart {    
    display: flex; 
    margin: 0;
    padding: 0;
    padding-top: 6px;

    font-size: 16px;
    line-height: 30px;
    font-weight:normal;

    list-style: none;
}

.site-navigation {
    display: flex; 
    flex-wrap: wrap;
    width: 640px;
    margin-left: 157px;
}

.site-navigation li {
    margin-right: 47px;
}

.site-navigation a,
.cart a {
    color: #000000; 
}

.site-navigation a:hover,
.cart a:hover{
    color: #fb565a;
}

.site-navigation a:active,
.cart a:active{
    color: #000000;
    opacity: 0.3;
    
}

 .cart-icon{
    display: inline-block;
    width: 15px;
    height: 15px;   
    margin-right: 20px; 
    
    background-image: url("../img/svg/cart-icon.svg");
}



/* --------------------------------------------------------------- */
.slider {
    position: relative;
    
    background-color: #eeeeee;
  }
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
  .slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
  }
  
  .slider-controls label {
    position: relative;
    
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;
  }
  
  .slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
  }
  
  .slider-item {
    display: none;
    padding: 68px 0 79px 0;
  }
  
  .slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93.5% 8px;
  }
  
  .slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  
  .slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
  }
  
  #product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
  }
  
  #product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
  }
  
  #product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
  }
  
  #product-1:checked ~ .slider-controls .slider-controls-item--1::before,
  #product-2:checked ~ .slider-controls .slider-controls-item--2::before,
  #product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
  }
  
  .slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 26px;
    
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
  }
  
  .slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;

    line-height: 24px;
  }
  
  .button {
    display: block;
    width: 240px;
    padding: 17px 0;
    
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
  }
  
  .button:hover,
  .button:focus {
    background-color: #e74246;
  }
  
  .button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  }
  


/* ------------------------------------------------------ */
.slider .slider-list {
    list-style: none;
}

.slider-caption {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.button{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.button:active{
    
    color: rgba(255, 255, 255, 0.3);
}

.button-red{
   background-color: #fb565a;  
}

.button-red:hover{
   background-color: #e74246;  
   
}

.button-red:active{
   background-color: #d7373b;  
   box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);

}

.botton-green{
    background-color: #00ca74;
}

.botton-green:hover{
    background-color: #00bc6c;
}

.botton-green:active{
    background-color: #00aa62;
    box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}
.botton-yellow{
    background-color: #efc84a;
}

.botton-yellow:hover{
    background-color: #eab534;
}

.botton-yellow:active{
    background-color: #e5a722;
    box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);    
}

.service {
    display: flex;
    min-height: 347px;
    padding-top: 80px;
    padding-bottom: 80px;

    border-bottom: 2px solid #eee;
}

.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.service-list li:not(:last-child) {
    margin-right: 100px;
}

.service-caption{
    margin: 0;
    padding-top: 170px;
    font-size: 24px;
    line-height: 30px;
    font-family: "Roboto Bold", Arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
    
}

.service-text {
    width: 260px;
    margin: 0;
}

.service-item-image {
    display: flex;
    order: -1;
}

.brief-info-promo{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.brief-info-heading,
.features-promo{
   text-transform: uppercase; 
   color: #000000;
}


.service-item{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    
    
    /* padding-top: 71px; */
}

.service-img-website::before {
    position: absolute;
    content: "";
    top: 0;
    left: 1;
   
    display: block;
    width: 300px;
    height: 146px;
    /* background: url(../img/service1.jpg) no-repeat;     */
}

.service-img-application::before {
    position: absolute;
    content: "";
    top: 0;
    left: 1;
   
    display: block;
    width: 300px;
    height: 146px;
    background: url(../img/service2.jpg) no-repeat;    
}

.service-img-presentation::before {
    position: absolute;
    content: "";
    top: 0;
    left: 1;
   
    display: block;
    width: 300px;
    height: 146px;
    background: url(../img/service3.jpg) no-repeat;    
}

.service-text{
    font-size: 16px;
    color: #283136;
    font-family: "Roboto Regular", Arial, sans-serif; 
}

.brief-info-promo{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
}
.brief-info-item{
    list-style: none;
}
.brief-info-item:before{
    content: "";
    position: absolute;
    background: #fb565a;
    width: 25px;
    height: 2px;
    left: -35.5px;
    top: 10px;
}

.features-determination{
    font-size: 45px;
}

.features-determination span{
    font-size: 20px;
    vertical-align: super;
}

.partner-item{
    opacity: 0.2;
}

.partner-item:hover{
    opacity: 1;
}

.partner-item:active{
    opacity: 0.1;
}

.footer-social-promo{
    font-family: "Roboto Regular", Arial, sans-serif; 
    line-height: 36px;
    font-size: 36px;
    color: #000000;
}

.social-item{
    list-style: none;
    
}

.social-button img{
    padding: 10px;
    border-radius: 50%;   
   background-color: blueviolet;
    
}

.modal-hidden{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}
.modal-item{
    color: #000000;
    line-height: 18px;

}


.page-title{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.filter legend{
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

