body{
    margin: 0;
    padding: 0;
    
    font-family: Roboto, Arial, sans-serif;  
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    
    background-color: #ffffff;
}

a {
/*    Убираем подчеркивание у ссылок*/
    text-decoration: none;
}
.main-header-logo:hover{
    opacity: 0.8;
}
.main-header-logo:focus{
    opacity: 0.3;
    }

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    
    background-color:  #eeeeee;
}

.site-navigation,
.cart{
    
    font-size: 16px;
    line-height: 30px;
    font-weight:700;
    
/*    Убираем маркер у ссылок*/
    list-style: none;
}

.site-navigation a,
.cart a{
    color: #000000;
}

.site-navigation a:hover,
.cart a:hover{
    color: #fb565a;
}

.site-navigation a:focus,
.cart a:focus{
    color: #000000;
    opacity: 0.3;
    
}

.slider .slider-list {
    list-style: none;
}

.slider-caption {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.button{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    
}

.brief-info-promo{
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.brief-info-heading,
.features-heading{
   text-transform: uppercase; 
   color: #000000;
}

